- @title = "Privacy Policy"
%p
  Styrognome Games may collect any and all data.   You may limit data collection by not doing anything.  We may use the data collected for any reason anywhere anytime. To remove all data associated with your identity, or to get a dump of data we have associated with you, you may contact michaeleconomy (at) gmail dot com.